/*==================| Colors |================*/
.slate {
    color: #272729;
}

.white {
    color: #f4f7f6;
}

.black {
    color: #0E0B16;
}

.blue {
    color: #4717F6;
}

.purple {
    color: #A239CA;
}

/*==================| Main Page Layout |================*/

html {
    /*scroll-behavior: smooth;*/
    overflow-x: hidden;
    max-width: 100%; /*No horiz scroll*/
    transition: 0.5s;/*animation time 0.5s*/
}

body {
    font-family: "apercu", sans-serif;/*set font*/
    background-color: #f4f7f6;/*slightly off white background*/
    color: #0E0B16;
    font-size: 1.1em;
    margin: 0;
    min-height: 100%;
    position: relative;/*For the absolute elements to attatch to*/
}

section {
    padding: 0px 8px;/*normalise the sections*/
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

p {
    padding: 0px 15px 0px 15px;
}

/*==================| Responsive Fit |================*/

.col-2 { /*anything tagged .col-2 will split 50/50 on the page,*/
    display: grid;
    grid-template-columns: 1fr 1fr; /*as 1fr 1fr means 2 equal fractions*/
}
.col-2-fit { /*same thing, but squishes in the left one, used for code samples*/
    display: grid;
    grid-template-columns: 1fr 5fr;/*as its 1/6 && 5/6*/
}
@media only screen and (max-width: 1000px) {
    .col-2 {
        grid-template-columns: 1fr; /*only do 1 column*/
    }
    .col-2-fit {
        grid-template-columns: 1fr;
    }
}
@Media (max-width: 800px) { /*when screen is smaller*/
    .col-2 {
        grid-template-columns: 1fr; /*only do 1 column*/
    }
    .col-2-fit {
        grid-template-columns: 1fr;
    }

}

/*==================| Main Section Content |================*/

#main {
    max-width: 1500px;  /*for really big screens, lets the content be just in the middle*/
    margin: auto;
    padding-bottom: 15px; /*padding for the footer*/
}

.Header {
    background-repeat: no-repeat;/*dont repeat it*/
    background-position: center;/*center the header bckground*/
    background-size: 100%;/*make sure its the full width*/
    color: #f4f7f6;
    padding-bottom: 20px;
}

.Header .Heading {
    font-weight: bolder;/*make the weight bold*/
    font-size: 20vmin;/*vmin means it will scale based on screen height*/
    text-align: center;
    margin: 0px;
    line-height: 0.9;
    padding-top: 10px;
    padding-bottom: 20px;

}

.Header .SubHeading {
    font-style: italic;/*italics*/
    font-size: 6vmin;
    margin: 0px;
    text-align: center;
    color: rgba(244, 247, 246, 0.5);/*extra value is transparency*/
}

.Header a {
    text-decoration: none;
    transition: 0.3s;
    color: rgba(244, 247, 246, 0.5);

}

.Introduction {
    text-align: center;
}
.Header a:hover {
    color: #f4f7f6;/*when you hover over the subtitle, it is highlighted*/
}

.black-bg {
    background-color: #e9eceb;/*anything i put in this class is given a pleasing contrast-y background*/
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

#main > section {
    margin: 15px;
}

#main > div {
    margin: 15px;
}

.divider {/*the dividers i have through the whole site*/
    background-color: #3b5260; /*contrasting colour*/
    margin: 10px; /*shape it*/
    border-radius: 15px;/*round it*/
    padding: 10px;
    color: #f4f7f6;
}

.divider h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0px;/*no margin, already dealt w. above*/
}

.divider h3 {
    text-align: center;
    font-size: 20px;
}

.black-bg h2{
    padding-left: 15px;
}

.black-bg img {
    width: 92%;
}

.fit-width {
    width: fit-content;
}

.fit-height {
    height: fit-content;
}

.fit-both {
    width: fit-content;
    height: fit-content;
}

.list > li{
    padding-bottom: 5px;
}

.credit {
    font-size: 13px;
    text-align: center;
}

figure {
    padding: 0px;
    margin: 0px;/*for the image captions*/
}

figcaption {
    font-style: italic;
    font-size: 0.9em;
}

/*==================| Span formatting |================*/

.bigText {
    font-size: 1.4em;/*presets, for when i need them*/
}

.smallText {
    font-size: 0.6em;
}

/*==================| Boring-ify headings |================*/

.boringTags, .boringTags h1, .boringTags h2, .boringTags h2,
.boringTags h3, .boringTags h4, .boringTags h5,
.boringTags h6 {/*for the HTML section, i had to boring-ify the H tags*/
    padding: 0px;
    text-align: center;
    margin: 0px;
}

/*==================| Tables |================*/
#main .content {/*Make the table have space*/
    border-collapse: collapse;
    margin: 10px;
}

#main .content th{
    font-weight: normal;
    padding: 10px;
    text-align: left; /*make the table headings different from the rest*/
    background-color: #626671;
    color: white;
}

#main .content td {
    border: 1px solid #999999;/*grey backgorund*/
    padding: 5px;
}

#main .content tr:nth-child(even) {
    background-color: #e9eceb; /*every even row is different colour*/
}

/*==================| Images |================*/

@Media (max-width: 1000px) {
    .wideImg {
        width: 100%;/*scale images based on their size responsively*/
    }
}

@media (max-width: 600px) {
    .medImg {
        width: 100%;/*scale images for med sizd*/
    }
}

.smallImage {
    width: 100px;
}

/*==================| Floating Buttons |================*/

#floatingButton{ /*hide by default*/
    display: none;
    border: none;/*no normal button attributes like border*/
    outline: none;
    background: none;
    position: fixed;
    bottom: 15px;
    right: 15px;/*position in the bottom right*/
    font-size: 2em; /*its size*/
    color: #0E0B16; /*match the other off blacks of the site*/
    transition: 0.3s;
}

#floatingButton:hover {
    color: #4717F6;
}

#floatingButton img {
    height: 30px;
    width: 30px;
}

#sideNavButton {
    position: fixed; /*side button wont move*/
    top: calc(50%);/*50% down from the top*/
    transition: 0.3s;
}

#sideNavButton:hover {
    color: #4717F6;/*go blue when you hover ovr it*/
}

#sideNavButton img {
    height: 30px;
    width: 30px;
}
/*==================| Top Navigation Bar |================*/

#topNav {
    list-style-type: none; /*top nav make horizontal layout*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0E0B16;/*off black background*/
}

#topNav a {
    float: left;
    display: block;/*layout horizontally*/
    color: #f4f7f6;/*white text*/
    font-weight: bold;/*make these bold*/
    font-size: 1rem;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;/*give the links no text decoration*/
    transition: 0.3s;
}

#topNav #logo {
    position: absolute;/*Position the logo above an empty element*/
    height: 35px;
    top: 7px;
    left: 8px;
}

#topNav #logoletter {
    color: #0E0B16; /*position logo above this letter, make it background black so you cant see it*/
}

#topNav a:hover {
    background-color: #4717F6;
}

#topNav .selected {
    background-color: #272729;
}

/*=============| Side Navigation Bar |===============*/

#sideNav {
    height: 100%; /*full height of the screen*/
    width: 0; /*default width is 0*/
    position: fixed; /*fixed position*/
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0E0B16;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

#sideNav a {
    padding: 8px 8px 8px 30px; /*padding for side nav links*/
    text-decoration: none;/*not link decoration*/
    font-size: 15px;/*font size for them*/
    color: #f4f7f6;
    display: block;/*block so they */
    transition: 0.3s;
}

#sideNav a:hover {
    color: #4717F6;
}

#sideNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*=====================| Code Display |==================*/

pre {/*code boxes, in preformatted containers*/
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    margin-bottom: 5px;
    border-left: 4px solid #A239CA; /*purple border*/
    font-size: 1.1em;
    background: #2d2d2d;
    color: #f4f7f6;
    white-space: pre;
    overflow: auto;/*scrolls when screen shrinks*/
    font-family: monospace;
}

code{
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%;
    color: #A239CA;
}

.code-blue {
    color: lightskyblue;/*colours for syntax highlighter*/
}

.code-purple {
    color: mediumpurple;
}

.code-yellow {
    color: yellow;
}

.code-green {
    color: #85ff6e;
}

.code-orange {
    color: orange;
}

.code-html {

}

.code-css {

}

.code-js {

}

.run {
    background-color: #d7dad9;/*run buttons for JS code*/
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
    transition: 0.2s;
}

.run:hover {
    background-color: #a7aaa9;/*get bigger when you hover over them*/
    color: white;
    font-size: 1.1em;
}

/*====================| Warnings |================*/

.warn {/*warning box*/
    width: fit-content;
    padding: 1px 5px 1px 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 4px solid yellow;
    word-wrap: break-word;
    background: #fffdcd;
    color: #0E0B16;
}

.note {/*note box*/
    width: fit-content;
    padding: 1px 5px 1px 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 4px solid #20ff1f;
    word-wrap: break-word;
    background: #d5ffd7;
    color: #0E0B16;
}

/*==================| Footer |================*/

footer {
    background-color: #0E0B16;/*footer is black*/
    position: absolute;/*and absolute */
    width: 100%;/*full page width*/
    height: auto;
    margin-bottom: -210px;/*attach to bottom correctly*/
    bottom: 0;
}

footer ul {
    padding: 15px;
}

footer li {
    padding: 1px;
}

footer a {
    color: #f4f7f6;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover {
    color: #4717F6;
}

footer p {
    color: #f4f7f6;
    float: right;
}

