
.Header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(1, 1, 40, 0.5) ), url("images/HTML/header.jpg");
}

#boringTable {
    text-align: left;
    margin-left: 15px;
}

#boringTable th{
    font-weight: normal;
}