
.Header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(1, 1, 40, 0.5) ), url("images/Web/header.jpeg");
}

/*==================| Timeline |================*/

.timeline {
    position: relative;
    width: 100%;
    display: flex;/* make display flex for the middle*/
}

.timeline .vertLine { /*vertical line for timeline*/
    width: 15px;
    border-radius: 5px;
    background-color: lightslategray;
}

.timeline > div {
    width: 100%;
}

.timeline > div > div {/*timeline individual*/
    background-color: #e9eceb;
    margin: 5px 20px;
    padding: 15px;
    border-radius: 20px;
}

.timeline > div > div > p {
    margin: 0px;
    padding: 0px;
}

.timeline > div > div > h2 {
    margin: 0px;
    padding: 0px 0px 10px;
    text-align: center;
}


.timeline .left div::before{
    content: '';/*left timeline*/
    width: 30px;
    height: 30px;/*make blue dots*/
    border-radius: 30px;
    background-color: #4717F6;
    float: right;
    margin-right: -54px;
    position: sticky;
}

.timeline .right div::before {/*add the blue dots*/
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #4717F6;
    float: left;
    margin-left: -54px;
    position: sticky;
}

.timeline .left div:nth-child(even) {/*every EVEN elememt on the left hide, every ODD element on the right, hide*/
   visibility: hidden;
}

.timeline .right div:nth-child(odd) {
  visibility: hidden;
}


#WebClients table img{
    width: 45px;
}

#WebClients table th {
    font-weight: normal;
    text-align: left;
    padding-left: 10px;
}