:root {
    --neon-black: #0E0B16;
    --neon-purple: #A239CA;
    --neon-blue: #4717F6;
    --neon-white: #f4f7f6;
}

.blue {
    color: var(--neon-blue);
}

.main {
    max-width: 1500px;
    margin: auto;
}

.floatingButton {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 2em;
    color: var(--neon-black);
}

body {
    font-family: "apercu", sans-serif;
    background-color: var(--neon-white);
    color: var(--neon-black);
    font-size: 1.1em;
    margin: 0;
    min-height: 100%;
    position: relative;

}
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--neon-black);
}

nav a {
    float: left;
    display: block;
    color: var(--neon-white);
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav #logo {
    position: absolute;
    height: 35px;
    top: 7px;
    left: 8px;
}

nav #logoletter {
    color: var(--neon-black);
}

/* Change the link color to #111 (black) on hover */
nav a:hover {
    background-color: var(--neon-blue);
}

nav .selected {
    background-color: #272729;
}

section {
    padding: 0px 8px;
}

pre {
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 5px;
    border-left: 4px solid var(--neon-purple);
    word-wrap: break-word;
    font-size: 1.1em;
    background: #2d2d2d;
    color: var(--neon-white);
}

.warn {
    width: fit-content;
    padding: 1px 5px 1px 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 4px solid yellow;
    word-wrap: break-word;
    background: #fffdcd;
    color: var(--neon-black);
}

.note {
    width: fit-content;
    padding: 1px 5px 1px 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-left: 4px solid #20ff1f;
    word-wrap: break-word;
    background: #d5ffd7;
    color: var(--neon-black);
}

.run {
    text-decoration: none;
    color: var(--neon-purple);
    /*background: #2d2d2d;*/
    margin-left: 0px;
    font-size: 0.8em;
    padding: 10px;
    font-weight: bold;
    /*border-left: 4px solid var(--neon-purple);*/
}

.purple {
    color: var(--neon-purple);
}

.blue {
    color: var(--neon-blue);
}

.code-span {
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 110%;
}


h1 {
    text-align: center;
    font-size: 2.5em;
}


p {
    padding: 0px 15px 0px 15px;
}

#Home {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("http://www.utc.com/News/CCS/PublishingImages/Imported%20Images/06c50dd3-66bf-4707-b2a7-0141cba20a8a/Newcastle%20University%20Chubb.jpg");
}

#HTML {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.pexels.com/photos/34140/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

#CSS {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.pexels.com/photos/273222/pexels-photo-273222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.Header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: var(--neon-white);
    padding-bottom: 20px
}

.Header .Heading {
    font-weight: bolder;
    font-size: 20vmin;
    text-align: center;
    margin: 0px;
    line-height: 0.9;
    padding-top: 10px;
    padding-bottom: 20px;

}

.Header .SubHeading {
    font-style: italic;
    font-size: 6vmin;
    margin: 0px;
    text-align: center;
    color: rgba(244, 247, 246, 0.5);
}

.Header a {
    text-decoration: none;
    color: rgba(244, 247, 246, 0.5);

}

.Header a:hover {
    color: var(--neon-white);
}

.HTML-1 {
}

.black-bg {
    background-color: #e9eceb;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}

.black-bg h2{
    padding-left: 15px;
}

.white-bg {
    background-color: var(--neon-white);
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}

.fit {
    width: fit-content;
}

footer {
    background-color: var(--neon-black);
    position: absolute;
    width: 100%;
    height: auto;
    margin-bottom: -210px;
    bottom: 0;
}

footer ul {
    padding: 15px;
}

footer li {
    padding: 1px;
}

footer a {
    color: var(--neon-white);
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    text-decoration: none;
}

footer p {
    color: var(--neon-white);
    float: right;
}

.list > li{
    padding-bottom: 5px;
}

.col-2-fit {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

@Media (max-width: 700px) {
    .col-2-fit {
        grid-template-columns: 1fr;
    }
}

.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@Media (max-width: 700px) {
    .col-2 {
        grid-template-columns: 1fr;
    }
}